/* Basic Style */
body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
}

.app-info {
    width: 500px;
    margin: 0 auto;
    text-align: right;
}

.app-info img {
    width: 100%;
}

.app-info .more-info {
    font-family: fantasy, cursive;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #555;
}

.app-info .more-info:hover {
    color: #000;
}

@media (max-width: 768px) {
    .app-info {
        text-align: center;
    }
}

main {
    width: 500px;
    margin: 0 auto;
}

.task-row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.task {
    width: 100%;
    flex-grow: 1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h3 {
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 10px 0;
    text-transform: uppercase;
}

input, button {
    outline: none;
}

button {
    background: none;
    border: none;
    color: #888;
    font-size: 15px;
    font-family: Lato, sans-serif;
    cursor: pointer;
    transition: color 0.2s;
}

button:hover {
    color: #3a3a3a;
}

input[type="text"] {
    font-size: 18px;
    padding: 5px 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    color: #888;
    width: 100%;
}

input[type="text"]:focus {
    color: #333;
    border-color: #333;
}

label[for='new-task'] {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 15px;
}

/* Task list */
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

li input[type="checkbox"] {
    margin-right: 10px;
}

li label {
    font-size: 18px;
    width: 60%;
}

button.delete img {
    height: 2em;
    transform: rotate(45deg);
    transition: transform 0.2s;
}

button.delete:hover img {
    transform: rotate(0);
}

/* Completed */
ul#completed-tasks label {
    text-decoration: line-through;
    color: #888;
}

/* Edit Task */
ul li input[type="text"] {
    display: none;
}

ul li.edit-mode input[type="text"] {
    display: inline-block;
    width: 70%;
}

ul li.edit-mode label {
    display: none;
}
